.auth-login {
	.MuiInputLabel-root {
		margin-top: 16px;
	}
	.MuiTextField-root {
		margin-left: 100px;
		margin-right: 100px;
		width: 60%;
	}
	.MuiButton-root {
		width: 100%;
		margin-top: 16px;
	}
}
