.auth-login {

	.MuiButton-root {
		width: 100%;
		margin-top: 16px;
	}
	.MuiTextField-root {
		margin-top: 8px;
		width: 100%;
	}
	.login-card{
		margin-top: 100px;
	}
}

.reg-login {
	padding: 16px;

	.MuiTextField-root {
		width: 100%;
		margin-bottom: 16px;
	}
}

.show-card-box{
	margin-top: 100px;
}

#__next{
	margin-top: 8px;
}