$alt-line: #3a6bf5;
$background: #cfd8dc;

.auth-login {
	.MuiButton-root {
		width: 100%;
		margin-top: 16px;
	}
	.MuiTextField-root {
		margin-top: 8px;
		width: 100%;
	}
	.login-card {
		margin-top: 100px;
		padding: 16px;
	}
}

.reg-login {
	padding: 16px;

	.MuiTextField-root {
		width: 100%;
		margin-bottom: 16px;
	}
}

.show-card-box {
	margin-top: 100px;
}

#__next {
	margin-top: 8px;
}

.card-page {
}

.MuiInputLabel-shrink {
	color: $alt-line !important;
}
.Mui-error {
	color: red !important;
}

.MuiFilledInput-underline:after {
	border-bottom: 4px solid $alt-line !important;
}

.MuiInput-underline:after,
.MuiFilledInput-underline:after {
	border-bottom: 2px solid $alt-line !important;
}
.Mui-error:after {
	border-bottom: 2px solid red !important;
}

.study-box {
	.MuiCard-root {
		margin-top: 100px;
		margin-left: 20%;
		margin-right: 20%;
		padding: "16px";
	}
	.study-outer{
		display: flex;
		justify-content: space-between;
	}
	.study-button{
		width: 100px;
	}
	.study-card{
		min-height: 180px;
	}
	background-color: $background;
	min-height: 100vh;
}
